<h1> HomePage </h1>

<header class="footer col-12">
<h1>Title</h1>
</header>

<div class=" col-12">
<%= link_to "Login", "login" %>
<%= link_to "Register", "register" %>
<%= link_to "Generator", "generator" %>
</div>


<div class="col-4">
<%# article 1 %>
<p>Find me in app/views/welcome/index.html.erb</p>
</div>

<div class="col-4">
<%# article 2 %>
<p>Find me in app/views/welcome/index.html.erb</p>
</div>

<div class="col-4">
<%# article 4 %>
<p>Find me in app/views/welcome/index.html.erb</p>
</div>

<div class="col-4">
<%# article 4 %>
<p>Find me in app/views/welcome/index.html.erb</p>
</div>

<div class="footer col-12">
<h1>footer</h1>
</div>

